In [4]:
import pandas as pd
#generate a large volume of random data(eg. 1 millon data points)
volume_data = pd.read_csv('/content/drive/MyDrive/dataset/income_train.csv')
print("volume of data:",len(volume_data))

volume of data: 52

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
import time
import numpy as np
#simulate streaming data every second for 10 seconds
velocity_data = pd.read_csv('/content/drive/MyDrive/dataset/income_train.csv')
for i in range(10):
  velocity_data=np.random.rand( )#generate random data
  print("velocity data point:",velocity_data)
  time.sleep(2)#wait for 1 second to simulate real-time data stream

velocity data point: 0.0656890927225402
velocity data point: 0.16473945786042277
velocity data point: 0.5644979224290532
velocity data point: 0.4643345370050085
velocity data point: 0.8844291239744952
velocity data point: 0.9203351903644964
velocity data point: 0.0026362973027616032
velocity data point: 0.07332247025727368
velocity data point: 0.6894274971385252
velocity data point: 0.9020843710369629

In [6]:
import pandas as pd
import random
#generate some random data with noise
veracity_data = pd.read_csv('/content/drive/MyDrive/dataset/income_train.csv')
veracity_data=[random.choice([1,2,3,None])for _ in range(20)]
print("veracity data:",veracity_data)

veracity data: [2, None, 2, 3, None, None, 1, 1, 1, 3, 3, 1, None, None, None, 1, 1, 2, 3, None]

In [9]:
#structured data
structured_data = pd.read_csv('/content/drive/MyDrive/dataset/income_train.csv', sep =',')
print(structured_data)
#semi-structured data(JSON)
semistructured_data = pd.read_csv('/content/drive/MyDrive/dataset/income_train.csv', sep =',')
print(semistructured_data)
#unstructured data(text)
unstructured_data="This is a sample text document.It can contain any information in free form"
print(unstructured_data)

    Unnamed: 0  age  education.num  sex  hours.per.week  income
0            0   90              9    0              40       0
1            1   82              9    0              18       0
2            2   66             10    0              40       1
3            3   54              4    0              40       0
4            4   41             10    0              40       0
5            5   34              9    0              45       1
6            6   38              6    1              40       0
7            7   74             16    0              20       1
8            8   68              9    0              40       0
9            9   41             10    1              60       1
10          10   45             16    0              35       1
11          11   38             15    1              45       0
12          12   52             13    0              20       1
13          13   32             14    1              55       1
14          14   51             16    1              40       1
15          15   46             15    1              40       1
16          16   45              7    1              76       0
17          17   57             14    1              50       1
18          18   22             12    1              40       1
19          19   34             13    1              50       1
20          20   37             13    1              40       1
21          21   29              7    0              42       0
22          22   61              9    0              25       0
23          23   51             10    1              40       1
24          24   61              9    1              32       0
25          25   21             11    1              40       0
26          26   33              2    1              32       1
27          27   49              3    1              40       0
28          28   37              6    1              50       1
29          29   38              6    1              90       1
30          30   23             10    1              40       1
31          31   59              6    0              50       0
32          32   52             15    1              60       1
33          33   51             13    1              50       1
34          34   60              9    1              50       0
35          35   63             16    0              60       1
36          36   53              9    1              48       0
37          37   51             15    0              50       1
38          38   37             16    0              60       1
39          39   54             14    0              40       0
40          40   44             13    1              50       1
41          41   43             14    0              40       1
42          42   51             10    0              40       1
43          43   43             14    0              40       1
44          44   71              9    1              15       0
45          45   48             13    0              70       1
46          46   71              9    1              52       0
47          47   73              9    1              40       0
48          48   68             10    0              40       0
49          49   67             10    1              40       0
50          50   40             15    1              45       1
51          51   50              9    0              72       1
    Unnamed: 0  age  education.num  sex  hours.per.week  income
0            0   90              9    0              40       0
1            1   82              9    0              18       0
2            2   66             10    0              40       1
3            3   54              4    0              40       0
4            4   41             10    0              40       0
5            5   34              9    0              45       1
6            6   38              6    1              40       0
7            7   74             16    0              20       1
8            8   68              9    0              40       0
9            9   41             10    1              60       1
10          10   45             16    0              35       1
11          11   38             15    1              45       0
12          12   52             13    0              20       1
13          13   32             14    1              55       1
14          14   51             16    1              40       1
15          15   46             15    1              40       1
16          16   45              7    1              76       0
17          17   57             14    1              50       1
18          18   22             12    1              40       1
19          19   34             13    1              50       1
20          20   37             13    1              40       1
21          21   29              7    0              42       0
22          22   61              9    0              25       0
23          23   51             10    1              40       1
24          24   61              9    1              32       0
25          25   21             11    1              40       0
26          26   33              2    1              32       1
27          27   49              3    1              40       0
28          28   37              6    1              50       1
29          29   38              6    1              90       1
30          30   23             10    1              40       1
31          31   59              6    0              50       0
32          32   52             15    1              60       1
33          33   51             13    1              50       1
34          34   60              9    1              50       0
35          35   63             16    0              60       1
36          36   53              9    1              48       0
37          37   51             15    0              50       1
38          38   37             16    0              60       1
39          39   54             14    0              40       0
40          40   44             13    1              50       1
41          41   43             14    0              40       1
42          42   51             10    0              40       1
43          43   43             14    0              40       1
44          44   71              9    1              15       0
45          45   48             13    0              70       1
46          46   71              9    1              52       0
47          47   73              9    1              40       0
48          48   68             10    0              40       0
49          49   67             10    1              40       0
50          50   40             15    1              45       1
51          51   50              9    0              72       1
This is a sample text document.It can contain any information in free form